@media (min-width: $desktopScreen){
    .quiz {
        > section {
            row-gap: 3vh;
        }
    }
    .question {
        aside {
            row-gap: 4vh;
        }
        figure {
            min-height: 40vh;
        }
        button {
            height: 7vh;
            width: 7vh;
            font-size: 24px;
        }
    }

    .answer {
        button {
            width: 7vh;
            height: 7vh;
            font-size: 12px;
        }
    }

    .result {
         h4 {
            padding-left: 2vw;
         }
    }

    .mistakeAnimals {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 2vw;
        img {
            width: 28vw;
            height: 18vw;
        }
        figcaption {
            font-size: 20px;
        }
    }
}