@media (min-width: $tabletScreen){
    .home {
        h3 {
            font-size: 36px;
        }
        p {
            font-size: 24px;
        }
        a {
            font-size: 26px;
            font-weight: 600;
            &:hover {
                background-color: $color1;
            }
        }
    }

    .quiz {
        > section {
            > article {
                font-size: 28px;
            }
        }
    }

    .question {
        height: 60vh;
        justify-content: center;
        > section {
            flex-direction: row;
        }
        aside {
            flex-direction: column;
            row-gap: 2vh;
        }
        h4 {
            font-size: 40px;
        }
        figure {
            min-height: 28vh;
        }
        figcaption {
            font-size: 32px;
        }
        img {
            width: 24vw;
            height: 16vw;
            border-width: 15px;
        }
        button {
            height: 5vh;
            width: 5vh;
            font-size: 32px;
            font-weight: 600;
        }
    }
    .answer {
        > aside {
            font-size: 28px;
        }
        > button {
            font-size: 28px;
            &:hover {
                background-color: $color1;
            }
        }
    }

    .result {
        h3 {
            font-size: 32px;
        }
        h4 {
            font-size: 28px;
        }
    }

    .mistakeAnimals {
        figcaption {
            font-size: 28px;
        }
    }
}